body {
    background-color: #f4f4f4;
    color:#333333;
    font-family: Roboto;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 20px;
}

.title-container {
    flex-grow: 1;
    text-align: center;
    padding-left: 20px; /* Adjusts the space between the logo and the text */
}

h1, h2 {
    margin: 0; /* Removes default margin to handle spacing manually */
    padding: 0;
    line-height: 1.2; /* Adjusts the line height for better readability */
}

img {
    height: 100px; /* Ensures the logo has a fixed size */
    position: absolute;
}

table {
    border-collapse: collapse; /* Ensures borders between cells are merged into a single border */
    /*width: 100%;  Optional: makes the table full width of its container */
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
th {
    color:#2c3e50;
}

  th, td {
    border: 1px solid #3b4042; /* Adds a border to each cell */
    padding: 8px; /* Adds some padding inside each cell for better readability */
    text-align: center; /* Aligns text to the left; change as needed */
  }

  code, pre {
    background-color: #74340a;
    font-family: monospace;
    color: white;
}

td pre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left; /* Keeps the text alignment to the left within the centered block */
    white-space: pre-wrap; /* Ensures that the code wraps and adheres to the container's width if necessary */
    width: max-content; /* Restricts the width to the content's maximum width */
}